# Vibe Coding: Real-World Data Cleaning Challenge

## The Mission

You're a Data Analyst at **TechSalary Insights**. Your manager needs answers to critical business questions, but the data is messy. Your job is to clean it and provide accurate insights.

**The catch:** You must figure out how to clean the data yourself. No step by step hints just you, your AI assistant, and real world messy data.

---

## The Dataset: Ask A Manager Salary Survey 2021

**Location:** `../Week-02-Pandas-Part-2-and-DS-Overview/data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`

This is **real survey data** from Ask A Manager's 2021 salary survey with over 28,000 responses from working professionals. The data comes from this survey: https://www.askamanager.org/2021/04/how-much-money-do-you-make-4.html

**Why this dataset is perfect for vibe coding:**
- Real human responses (inconsistent formatting)
- Multiple currencies and formats  
- Messy job titles and location data
- Missing and invalid entries
- Requires business judgment calls

---

## Your Business Questions

Answer these **exact questions** with clean data. There's only one correct answer for each:

### Core Questions (Required):
1. **What is the median salary for Software Engineers in the United States?** 
2. **Which US state has the highest average salary for tech workers?**
3. **How much does salary increase on average for each year of experience in tech?**
4. **Which industry (besides tech) has the highest median salary?**

### Bonus Questions (If time permits):
5. **What's the salary gap between men and women in tech roles?**
6. **Do people with Master's degrees earn significantly more than those with Bachelor's degrees?**

**Success Criteria:** Your final answers will be compared against the "official" results. Data cleaning approaches can vary, but final numbers should be within 5% of expected values.

---
# Your Work Starts Here

## Step 0: Create Your Plan
**Before writing any code, use Cursor to create your todo plan. Then paste it here:**

## My Data Cleaning Plan

*(Paste your Cursor todo list here)*

- [ ] Example todo item
- [ ] Another example
- [ ] ...

## Step 1: Data Loading and Exploration

Start here! Load the dataset and get familiar with what you're working with.

In [28]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("/workspaces/ds-fall-2025-wed-I.H/Week-02-Pandas-Part-2-and-DS-Overview/data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv", sep="\t")
df.head()

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

## Step 2: Data Cleaning

In [31]:
df.rename(columns={
    "How old are you?": "age",
    "What industry do you work in?": "industry",
    "Job title": "job_title",
    "If your job title needs additional context, please clarify here:": "job_title_context",
    "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)": "annual_salary",
    "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.": "additional_comp",
    "Please indicate the currency": "currency",
    'If "Other," please indicate the currency here: ': "currency_other",
    "If your income needs additional context, please provide it here:": "income_context",
    "What country do you work in?": "country",
    "If you're in the U.S., what state do you work in?": "us_state",
    "What city do you work in?": "city",
    "How many years of professional work experience do you have overall?": "experience_overall",
    "How many years of professional work experience do you have in your field?": "experience_field",
    "What is your highest level of education completed?": "education_level",
    "What is your gender?": "gender",
    "What is your race? (Choose all that apply.)": "race"
}, inplace=True)
df.head()

,Timestamp,age,industry,job_title,job_title_context,annual_salary,additional_comp,currency,currency_other,income_context,country,us_state,city,experience_overall,experience_field,education_level,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

## Step 3: Business Questions Analysis

Now answer those important business questions!

In [32]:
# Question 1: What is the median salary for Software Engineers in the United States?

# 1. Filter for US respondents
us_df = df[df['country'].str.lower().isin(['united states', 'us', 'usa'])]

# 2. Filter for Software Engineer job titles (case-insensitive, common variants)
se_titles = us_df['job_title'].str.lower().str.contains(r'software\s*engineer|swe|software developer|software dev', na=False)
se_df = us_df[se_titles]

# 3. Keep only USD salaries
usd_df = se_df[se_df['currency'].str.upper() == 'USD']

# 4. Clean salary column (remove commas, convert to float, drop missing/invalid)
clean_salary = (
    usd_df['annual_salary']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.extract(r'(\d+(?:\.\d+)?)')[0]
    .astype(float)
    .dropna()
)

# 5. Calculate median
median_salary = clean_salary.median()
print(f"Median salary for Software Engineers in the US: ${median_salary:,.0f}")
median_salary

Median salary for Software Engineers in the US: $142,000

np.float64(142000.0)

In [33]:
# Question 2: Which US state has the highest average salary for tech workers?

# 1. Filter for US respondents
us_df = df[df['country'].str.lower().isin(['united states', 'us', 'usa'])]

# 2. Filter for tech-related job titles (broad match)
tech_titles = us_df['job_title'].str.lower().str.contains(r'(software|engineer|developer|devops|data|it|cloud|web|systems|network|security|qa|product manager|programmer|architect)', na=False)
tech_df = us_df[tech_titles]

# 3. Keep only USD salaries
usd_df = tech_df[tech_df['currency'].str.upper() == 'USD']

# 4. Clean salary column (remove commas, convert to float, drop missing/invalid)
clean_salary = (
    usd_df['annual_salary']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.extract(r'(\d+(?:\.\d+)?)')[0]
    .astype(float)
    .dropna()
)

usd_df = usd_df.loc[clean_salary.index].copy()
usd_df['clean_salary'] = clean_salary

# 5. Group by state and calculate average salary
state_salary = usd_df.groupby('us_state')['clean_salary'].mean().sort_values(ascending=False)
highest_state = state_salary.idxmax()
highest_avg_salary = state_salary.max()
print(f"Highest average tech salary: {highest_state} (${highest_avg_salary:,.0f})")
state_salary.head()

Highest average tech salary: Colorado, Nevada ($190,000)

/tmp/ipykernel_18957/3755202940.py:7: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  tech_titles = us_df['job_title'].str.lower().str.contains(r'(software|engineer|developer|devops|data|it|cloud|web|systems|network|security|qa|product manager|programmer|architect)', na=False)

us_state
Colorado, Nevada                 190000.000000
Alabama, District of Columbia    156000.000000
California                       139907.819742
New Jersey, New York             137500.000000
Washington                       131862.777159
Name: clean_salary, dtype: float64

In [34]:
# Question 3: How much does salary increase on average for each year of experience in tech?

# 1. Filter for US tech workers (same as Q2)
us_df = df[df['country'].str.lower().isin(['united states', 'us', 'usa'])]
tech_titles = us_df['job_title'].str.lower().str.contains(r'(software|engineer|developer|devops|data|it|cloud|web|systems|network|security|qa|product manager|programmer|architect)', na=False)
tech_df = us_df[tech_titles]

# 2. Keep only USD salaries
usd_df = tech_df[tech_df['currency'].str.upper() == 'USD']

# 3. Clean salary column
clean_salary = (
    usd_df['annual_salary']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.extract(r'(\d+(?:\.\d+)?)')[0]
    .astype(float)
    .dropna()
)
usd_df = usd_df.loc[clean_salary.index].copy()
usd_df['clean_salary'] = clean_salary

# 4. Clean and convert experience column (extract min years from range, e.g., '5-7 years' -> 5)
def extract_min_years(exp):
    if pd.isnull(exp):
        return np.nan
    if isinstance(exp, str):
        if '-' in exp:
            return float(exp.split('-')[0].strip())
        if 'year' in exp:
            return float(exp.split()[0])
        try:
            return float(exp)
        except:
            return np.nan
    return np.nan

usd_df['exp_years'] = usd_df['experience_overall'].apply(extract_min_years)

# 5. Drop rows with missing experience or salary
final_df = usd_df.dropna(subset=['clean_salary', 'exp_years'])

# 6. Fit a linear regression: salary ~ experience
y = final_df['clean_salary']
X = final_df['exp_years']
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X.values.reshape(-1, 1), y)
salary_per_year = model.coef_[0]
print(f"Average salary increase per year of experience: ${salary_per_year:,.0f}")
salary_per_year

/tmp/ipykernel_18957/712187058.py:5: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  tech_titles = us_df['job_title'].str.lower().str.contains(r'(software|engineer|developer|devops|data|it|cloud|web|systems|network|security|qa|product manager|programmer|architect)', na=False)

Average salary increase per year of experience: $1,349

np.float64(1349.1550296321543)

In [35]:
# Question 4: What percentage of respondents work remotely vs. in-office?

# 1. Try to find a column indicating remote/in-office status
print(df.columns)

# If there is a column like 'remote', 'work arrangement', or similar, use it. If not, check for clues in 'job_title_context', 'income_context', or other text columns.

# Example: Let's try to infer from 'income_context' if no explicit column exists
if 'remote' in df.columns:
    remote_col = df['remote'].str.lower()
    remote_pct = (remote_col == 'yes').mean() * 100
    office_pct = 100 - remote_pct
    print(f"Remote: {remote_pct:.1f}%, In-office: {office_pct:.1f}%")
else:
    # Try to infer from context columns
    context = df['income_context'].astype(str).str.lower().fillna('')
    remote_mask = context.str.contains('remote') | context.str.contains('work from home')
    remote_pct = remote_mask.mean() * 100
    office_pct = 100 - remote_pct
    print(f"(Estimated) Remote: {remote_pct:.1f}%, In-office: {office_pct:.1f}% (based on context clues)")

remote_pct, office_pct

Index(['Timestamp', 'age', 'industry', 'job_title', 'job_title_context',
       'annual_salary', 'additional_comp', 'currency', 'currency_other',
       'income_context', 'country', 'us_state', 'city', 'experience_overall',
       'experience_field', 'education_level', 'gender', 'race'],
      dtype='object')
(Estimated) Remote: 0.1%, In-office: 99.9% (based on context clues)

(np.float64(0.10690613641223007), np.float64(99.89309386358777))

In [ ]:
# Question 5: Which industry (besides tech) has the highest median salary?

# 1. Filter for US respondents with USD salaries
us_df = df[df['country'].str.lower().isin(['united states', 'us', 'usa'])]
usd_df = us_df[us_df['currency'].str.upper() == 'USD']

# 2. Clean salary column
clean_salary = (
    usd_df['annual_salary']
    .astype(str)
    .str.replace(',', '', regex=False)
    .str.extract(r'(\d+(?:\.\d+)?)')[0]
    .astype(float)
    .dropna()
)
usd_df = usd_df.loc[clean_salary.index].copy()
usd_df['clean_salary'] = clean_salary

# 3. Exclude tech industries (broad match)
tech_keywords = r'(tech|software|it|information technology|computing|developer|engineer|data|cloud|web|systems|network|security|qa|product manager|programmer|architect)'
non_tech = ~usd_df['industry'].astype(str).str.lower().str.contains(tech_keywords, na=False)
non_tech_df = usd_df[non_tech]

# 4. Group by industry and calculate median salary
industry_median = non_tech_df.groupby('industry')['clean_salary'].median().sort_values(ascending=False)
highest_industry = industry_median.idxmax()
highest_median_salary = industry_median.max()
print(f"Highest median salary (non-tech industry): {highest_industry} (${highest_median_salary:,.0f})")
industry_median.head()

In [ ]:
# Bonus Questions:
# Question 6: What's the salary gap between men and women in similar roles?
# Question 7: Do people with Master's degrees earn significantly more than those with Bachelor's degrees?
# Question 8: Which company size (startup, medium, large) pays the most on average?

## Final Summary

**Summarize your findings here:**

1. **Median salary for Software Engineers in US:** $X
2. **Highest paying US state for tech:** State Name
3. **Salary increase per year of experience:** $X per year
4. **Remote vs office percentage:** X% remote, Y% office
5. **Highest paying non-tech industry:** Industry Name

**Key insights:**
- Insight 1
- Insight 2
- Insight 3

**Challenges faced:**
- Challenge 1 and how you solved it
- Challenge 2 and how you solved it

**What you learned about vibe coding:**
- Learning 1
- Learning 2
- Learning 3